<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FAcT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">


            <div class="container">

                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mantenimiento
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Pais" asp-action="Index">pais</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Provincias" asp-action="Index">Provincias</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Municipios" asp-action="Index">Municipios</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Sectors" asp-action="Index">Sectores</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Articulos" asp-action="Index">Articulos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Empleadoes" asp-action="Index">Empleados</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Empresas" asp-action="Index">Empresas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Suplidores" asp-action="Index">Suplidores</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Monedas" asp-action="Index">Monedas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Status" asp-action="Index">Status</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Tasadecambios" asp-action="Index">Tasa de cambios</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Tiposdocumentos" asp-action="Index">Tipos de Documentos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Ubicacions" asp-action="Index">Ubicaciones</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Vendedores" asp-action="Index">Vendedores</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Unidaddemedidas" asp-action="Index">Unidad de medidas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Formadepagoes" asp-action="Index">Forma de pagos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Formadeenvios" asp-action="Index">Forma de envios</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Clasificacionsuplidores" asp-action="Index">Clasificacion de suplidores</a>
                        <a class="dropdown-item" asp-area="" asp-controller="ClasificacionArticulos" asp-action="Index">Clasificacion de Articulos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Clasificacionclientes" asp-action="Index">Clasificacion de clientes</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Puestodetrabajoes" asp-action="Index">Puesto de Trabajos</a>
                    </div>


                </div>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FAcT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
