<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FAcT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow mb-3">

            
            <div class="container">

                <div class="dropdown ">
                    <button type="button"  class="btn btn-info btn-lg  btn-block  dropdown-toggle "   id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mantenimiento
                    </button>
                    <div class="dropdown-menu bg-dark " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Home" asp-action="Index">o Inicio</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Articulos" asp-action="Index">o Articulos</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Clientes" asp-action="Index">o Clientes</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Clasificacionsuplidores" asp-action="Index">o Clasificacion de suplidores</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="ClasificacionArticulos" asp-action="Index">o Clasificacion de Articulos</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Clasificacionclientes" asp-action="Index">o Clasificacion de clientes</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Empleadoes" asp-action="Index">o Empleados</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Empresas" asp-action="Index">o Empresas</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Formadepagoes" asp-action="Index">o Forma de pagos</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Formadeenvios" asp-action="Index">o Forma de envios</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Municipios" asp-action="Index">o Municipios</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Marcas" asp-action="Index">o Marcas</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Monedas" asp-action="Index">o Monedas</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Pais" asp-action="Index">o pais</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Provincias" asp-action="Index">o Provincias</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Sectors" asp-action="Index">o Sectores</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Puestodetrabajoes" asp-action="Index">o Puesto de Trabajos</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Suplidores" asp-action="Index">o Suplidores</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Status" asp-action="Index">o Status</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Tasadecambios" asp-action="Index">o Tasa de cambios</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Tiposdocumentos" asp-action="Index">o Tipos de Documentos</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Ubicacions" asp-action="Index">o Ubicaciones</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Unidaddemedidas" asp-action="Index">o Unidad de medidas</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Vendedores" asp-action="Index">o Vendedores</a>

                    </div>


                </div>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white  bg-secondary">
        <div class="container">
            &copy; 2020 - ADmultisoftware 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
