@model FAcT.Models.Articulos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Articulos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itebis" class="control-label"></label>
                <input asp-for="Itebis" class="form-control" />
                <span asp-validation-for="Itebis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidaddemedisID" class="control-label"></label>
                <input asp-for="unidaddemedisID" class="form-control" />
                <span asp-validation-for="unidaddemedisID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marcaID" class="control-label"></label>
                <select asp-for="marcaID" class ="form-control" asp-items="ViewBag.marcaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClasifarticulosID" class="control-label"></label>
                <input asp-for="ClasifarticulosID" class="form-control" />
                <span asp-validation-for="ClasifarticulosID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ubicacionID" class="control-label"></label>
                <select asp-for="ubicacionID" class ="form-control" asp-items="ViewBag.ubicacionID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
